
body {
    background-image:url(../Imagenes/d5564ad6e6d0cc064decbec4d696d204-2.jpg); 
    background-size: cover; /* La imagen de fondo se ajusta para cubrir todo el contenedor */
    background-position: center; /* La imagen de fondo se centra horizontal y verticalmente */

    font-style: normal; 
    font-family: calibri; 
    margin-top: 2rem;
}

tr {
    padding: 1rem; 
    background-color: rgba(186, 209, 224, 0.555); 
    border:1px solid lightgray;  
    text-align: center; 
}

table {
    border: .5rem solid rgb(4, 4, 119,0.555); 
    margin:auto; 
    padding: auto;
}

.texto {
    border: 1px solid black;
    background-color: rgba(173, 216, 230, 0.192);
    margin: 2rem 6rem 2rem 6rem;
    padding: 2rem 4rem 2rem 4rem;
    font-family: 'Calibri'; font-style: bold;
}

.texto2 {
    flex: 1; /* Ocupa todo el espacio disponible */
    padding: 10px; /* Espacio entre elementos */
    border: 1px solid black; /* Borde */
    text-align: center; /* Centra el texto horizontalmente */
}

input:hover {
    background-color: aqua!important;
}

input:focus {
    background-color: rgb(29, 32, 211)!important;
    color: white;
}

select:hover {
    background-color: aqua!important;
}

select:focus {
    background-color: rgb(29, 32, 211)!important;
      color: white;
}

nav {
    background-color: #1e3799; /* Azul oscuro */
    padding: 10px;
}

.nav-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

@media only screen and (max-width: 480px) {
    .nav-container {
        flex-direction: column;
        padding-right: 16px;
    }
    
    .nav-right {
        flex-direction: column;
        margin-top: 10px;
    }
    
    .nav-item {
        margin: 5px 0;
        padding-right: 16px;
    }

    .row {
        flex-direction: column; /* Cambia a columnas en dispositivos pequeños */
    }

    .d-flex {
        flex-direction: column; /* Cambia a columnas en dispositivos pequeños */
    }
}

@media only screen and (min-width: 481px) and (max-width: 760px) {
    .nav-container {
        padding-right: 16px;
    }

    .row {
        flex-wrap: wrap; /* Envuelve los elementos en dispositivos medianos */
    }

    .texto {
        flex-basis: 50%; /* Establece el ancho de los elementos en dispositivos medianos */
    }


}

@media only screen and (min-width: 761px) and (max-width: 1024px) {
    .nav-item {
        margin-left: 10px;
    }

    .texto {
        flex-basis: 33.33%; /* Establece el ancho de los elementos en dispositivos grandes */
    }

}

.center-button {
    text-align: center; /* Centra el texto del botón */
}

.boton {
    display: inline-block;
    background-color: #0927d1; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espacio interno del botón */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border-radius: 5px; /* Bordes redondeados */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: background-color 0.3s; /* Transición suave al cambiar el color de fondo */
    margin-top: 1rem; /* Separa el botón */
}

.boton:hover {
    background-color: #2980b9; /* Color de fondo del botón al pasar el ratón */
}

.row {
    display: flex;
}

.container {
    margin-top: 8rem;
    margin-bottom: 6rem;
    text-align: center;
}

.turnos {
    margin-top: 80px; /* Espacio entre el encabezado y el contenido */
}

.input-submit {
    background-color: rgb(172,172,172);  /* Color de fondo de los botones input-submit*/
}

.m-b-05 {
    margin-bottom: .5rem;
}

.m-b-10 {
    margin-bottom: 1rem;
}

.m-b-15 {
    margin-bottom: 1.5rem;
}

.m-b-20 {
    margin-bottom: 2rem;
}

.m-b-25 {
    margin-bottom: 2.5rem;
}
.m-t-15 {
    margin: 1.5rem;
}

.color-01 {
    background-color: rgb(211, 210, 179);
}

.botones {   
    margin: -.50rem 0rem .5rem 0rem;
}

.botones a {
    padding: .2rem .35rem .2rem .35rem;
    border-radius: 5px;
    margin: 0 -.05rem;
    text-decoration: none;
    font-size: .6rem;
    font-weight: bold;
}

.fondoClaro {
    background-color: rgb(238, 248, 252);
}